<!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
        <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                        <p class="centered"><a href="profile.html"><img src="/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                        <h5 class="centered">Marcel Newman</h5>

                        <li class="sub-menu">
                                <a class="active" href="javascript;">
                                        <i class="fa fa-dashboard"></i>
                                        <span>스케줄관리</span>
                                </a>
                                <ul class="sub">
                                        <li><a  href="#">- 승인요청확인</a></li>
                                        <li><a  href="#">- 승인현황</a></li>
                                        <li><a  href="#">- 거절현황</a></li>
                                        <li><a  href="#">- 공식스케줄등록</a></li>
                                        <li><a  href="#">- 공식스케줄현황</a></li>
                                </ul>
                        </li>

                        <li class="sub-menu">
                                <a href="javascript:;" >
                                        <i class="fa fa-desktop"></i>
                                        <span>입퇴실관리</span>
                                </a>
                                <ul class="sub">
                                        <li><a  href="#">- 자리등록</a></li>
                                        <li><a  href="#">- 입실대기자 관리</a></li>
                                        <li><a  href="#">- 자리사용 유/무</a></li>
                                        <li><a  href="#">- 퇴실신청서 확인</a></li>
                                        <li><a  href="#">- 퇴실자 관리</a></li>
                                </ul>
                        </li>

                        <li class="sub-menu">
                                <a href="javascript:;" >
                                        <i class="fa fa-cogs"></i>
                                        <span>출결통계</span>
                                </a>
                        </li>
                        <li class="sub-menu">
                                <a href="javascript:;" >
                                        <i class="fa fa-book"></i>
                                        <span>환경설정</span>
                                </a>
                        </li>

                </ul>
                <!-- sidebar menu end-->
        </div>
</aside>
<!--sidebar end-->