<% layout('../index') -%>
<table class="table table-striped">
        <thead>
        <tr>
                <th> No</th>
                <th> 제목</th>
                <th>작성자</th>
                <th>등록일</th>
        </tr>
        </thead>
        <tbody>


        </tbody>
</table>