<% layout('../index') %>
<div class="border-head" style="">
    <h2><i class="fa fa-angle-right"></i><%= title %></h2>
</div>

    <form action="/offScheduleAdd" method="post">
        <div style="background: #fff; box-shadow: 1px 1px 3px 0 #A4AABA;">
        <table class="table table-bordered">
            <tr>
                <td class="col-lg-1">제목</td>
                <td class="col-lg-4"><input type="text" name="sche_name"/></td>
                <td class="col-lg-1">작성자</td>
                <td class="col-lg-4"><%=name%></td>
            </tr>

            <tr>
                <td class="col-lg-1">공식스케줄기간</td>
                <td class="col-lg-4">
                    <input type="date" style="height: 25px;" name="ofc_sche_start_date"/>부터 ~ <input type="date" style="height: 25px;" name="ofc_sche_end_date"/>까지
                </td>
                <td class="col-lg-1">공식스케줄시간</td>
                <td class="col-lg-1">
                    <input type="time" style="height: 25px;" name="ofc_sche_start_time"/> ~ <input type="time" style="height: 25px;" name="ofc_sche_end_time"/>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">참여학생</td>
                <td colspan="4">
                    학번<input type="text" name="s_num1"/><br>
                    학번<input type="text" name="s_num2"/><br>
                    학번<input type="text" name="s_num3"/><br>
                </td>
            </tr>
        </table>
    </div>
        <button type="button" class="btn btn-default" style="width: 13%; margin: 0 auto;">뒤로</button>
        <button type="button" class="btn btn-success" style="width: 13%; margin: 0 auto;">완료</button>
    </form>
