<% layout('../index') %>
<div class="border-head" style="">
    <h2><i class="fa fa-angle-right"></i><%= title %></h2>
<br></div>
<form action="/sitAdd" method="post">
<div style="background: #fff; box-shadow: 1px 1px 3px 0 #A4AABA;">

        <table class="table table-bordered">
            <tr>
                <td>학번</td>
                <td><input type="text" name="s_num"/></td>
                <td class="col-lg-1">학년</td>
                <td><input type="text" name="grade"/></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="s_name"/></td>
                <td class="col-lg-1">비밀번호</td>
                <td><input type="text" name="s_pw"/></td>
            </tr>
            <tr>
                <td>소속</td>
                <td><input type="text" name="major_num"/></td>
                <td class="col-lg-1">지문</td>
                <td><input type="text" name="fp"/><button>등록</button></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input type="text" name="phone"/></td>
                <td class="col-lg-1">이메일</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td>자리번호</td>
                <td><input type="text" name="enter_out_sit"/></td>
                <td class="col-lg-1">이메일</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td>담당교수</td>
                <td><input type="text" name="p_num"/></td>
                <td class="col-lg-1">연구실</td>
                <td><input type="text" name="lab_num"/></td>
            </tr>
        </table>

</div>
<div style="text-align: center;">
<button type="button" onclick="location.href='/'" class="btn btn-default" style="width: 13%; margin: 0 auto;">취소</button><button type="submit" onclick="location.href='/addSit'" class="btn btn-success" style="width: 13%; margin: 0 auto;">등록</button>
</div>
</form>