<% layout('../index') %>
<div class="border-head" style="">
    <h2><i class="fa fa-angle-right"></i><%= title %></h2>
</div>
<div style="background: #fff; box-shadow: 1px 1px 3px 0 #A4AABA; padding: 2% 1%; text-align: center;">
    <h5>
        <div style="width: 70px; background: #c0f080; margin-left: 2.5%; padding: 1%; color:white;">상주 중</div>
    </h5>
    <%
    //for
    %>
    <div style="display: inline-block; margin-right: 5px; width: 23%; height: 100%; text-align: center;">
        <table class="table table-bordered">
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td style="background: #c0f080; color:white;">김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
        </table>
    </div>
    <%
    //for
    %>
    <div style="display: inline-block; margin-right: 5px; width: 23%; height: 100%; text-align: center;">
        <table class="table table-bordered">
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td style="background: #c0f080; color:white;">김리자</td>
                <td>김리자</td>
            </tr>
        </table>
    </div>

    <div style="display: inline-block; margin-right: 5px; width: 23%; height: 100%; text-align: center;">
        <table class="table table-bordered">
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
        </table>
    </div>

    <div style="display: inline-block; margin-right: 5px; width: 23%; height: 100%; text-align: center;">
        <table class="table table-bordered">
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
            <tr style="cursor: pointer;">
                <td>김리자</td>
                <td>김리자</td>
            </tr>
        </table>
    </div>


</div>